$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1440px;
$screen-xl-min: 1441px;

@mixin sm {
    @media screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

@mixin lt_lg {
    @media screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin gt_lg {
    @media screen and (min-width: #{$screen-xl-min}) {
        @content;
    }
}