$primary: #1F293F;
$primary-dark: #182032;
$primary-light: #343D51;

$secondary: #E2B059;
$secondary-dark: #BD944A;
$secondary-light: #E4B869;

$black-0: rgba(0, 0, 0, 1);
$black-1: rgba(0, 0, 0, 0.9);
$black-2: rgba(0, 0, 0, 0.8);
$black-3: rgba(0, 0, 0, 0.7);

$white-0: rgba(255, 255, 255, 1);
$white-1: rgba(255, 255, 255, 0.9);
$white-2: rgba(255, 255, 255, 0.8);
$white-3: rgba(255, 255, 255, 0.7);
